
@model Note

<form method="post" enctype="multipart/form-data">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create note</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" class="form-control" />
        </div>
                <div class="mb-3">
            <label asp-for="IdForQuery"></label>
            <input asp-for="IdForQuery" type="number" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:200px">Create note</button>
        <a asp-controller="Note" asp-action="Index" class="btn btn-secondary" style="width:200px">Back to list</a>

    </div>
</form>

